@import "vars.less";

.map-controls--container {
  position: absolute;
  height: @menu-height;
  bottom: 0;
  z-index: 99;
  width: 100vw;
}
.map-controls {
  width: 100%;
  cursor: pointer;
  display: grid;

  .shadow {
    box-shadow: 4px 0px 4px 0px rgba(0,0,0,0.25);
  }

  .menu {
    position: absolute;
    bottom: @menu-height;
    left: 50vw;
    background-image: url('/images/Menu active.png');
  }

  .menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .menu-item {
    width: 100%;
    height: @menu-height;
    background-color: #dddddd;
    display: grid;
    font-size: 1.5rem;
    grid-template-rows: 2fr 1fr;
    border-left: 1px solid gray;

    .gpx {
      background-image: url('/images/GPX Button.png');
    }
    .gps {
      background-image: url('/images/GPS.png');
    }
    span {
      place-self: center;
    }
  }

  .button {
    background: no-repeat center/5rem;
    height: @menu-height / 2;
    place-self: center;
  }
  .menu-items .button {
    height: 100%;
    width: 100%;
  }
}
